<!-- component thanh điều hướng của trang web -->

<template name="navigation">

    <header>
        <div class="container">

            <div class="logo-container">
                <img src="/img/logo_apom.png" alt="logo" class="logo">
            </div>

            <div class="nav-btn">
                <div class="nav-links">
                    <ul>
                        <li class="nav-link" style="--i: .85s">
                            <a href="#">Hiển thị<i class="fas fa-caret-down"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="/">Hiển thị bản đồ PM 2.5 MODIS/Aqua</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="/pm25_mod">Hiển thị bản đồ PM 2.5 MODIS/Terra</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="/pm25_landsat">Hiển thị bản đồ PM 2.5 Landsat của Hà Nội</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Hiển thị danh sách tỉnh/thành có chỉ số PM 2.5 cao</a>

                                        <!-- <div class="center">
                                            <input type="checkbox" id="click">
                                            <label for="click" class="click-me">
                                                Chỉ số PM 2.5 của các tỉnh/thành
                                            </label>
                                            <div class="content">
                                                <div class="header">
                                                    <h2>Danh sách tỉnh/thành có chỉ số PM 2.5 cao</h2>
                                                    <label for="click" class="fas fa-times"></label>
                                                </div> -->
                                        <!-- <label for="click" class="fas fa-check"></label> -->
                                        <!-- <table class="content-table">
                                                    <thead>
                                                        <tr>
                                                            <th>Xếp hạng</th>
                                                            <th>Tỉnh/Thành</th>
                                                            <th>Chỉ số PM 2.5</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Hà Nội</td>
                                                            <td>88</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Bắc Ninh</td>
                                                            <td>85</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Bắc Giang</td>
                                                            <td>80</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>Vĩnh Phúc</td>
                                                            <td>79</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>Hưng Yên</td>
                                                            <td>76</td>
                                                        </tr>
                                                        <tr>
                                                            <td>6</td>
                                                            <td>TP.Hồ Chí Minh</td>
                                                            <td>75</td>
                                                        </tr>
                                                        <tr>
                                                            <td>7</td>
                                                            <td>Đà Nẵng</td>
                                                            <td>72</td>
                                                        </tr>
                                                        <tr>
                                                            <td>8</td>
                                                            <td>Thừa Thiên Huế</td>
                                                            <td>68</td>
                                                        </tr>
                                                        <tr>
                                                            <td>9</td>
                                                            <td>Phú Thọ</td>
                                                            <td>65</td>
                                                        </tr>
                                                        <tr>
                                                            <td>10</td>
                                                            <td>Thanh Hóa</td>
                                                            <td>63</td>
                                                        </tr>
                                                    </tbody>
                                                </table> -->


                                        <!-- <table>
                                                    <tr>
                                                        <th>Xếp hạng</th>
                                                        <th>Tên</th>
                                                        <th>Chỉ số PM 2.5</th>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Hà Nội</td>
                                                        <td>90</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Hà Nội</td>
                                                        <td>90</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Hà Nội</td>
                                                        <td>90</td>
                                                    </tr>
                                                </table> -->
                                        <!-- <div class="line"></div> -->
                                        <!-- <label for="click" class="close-btn">Đóng</label> -->
                                        <!-- </div>
                                        </div> -->

                                    </li>
                                    <div class="arrow"></div>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-link" style="--i: .6s">
                            <a href="#">Tìm kiếm</a>
                        </li>
                        <li class="nav-link" style="--i: 1.1s">
                            <a href="#">Thống kê<i class="fas fa-caret-down"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="#">Thống kê chất lượng không khí</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Thống kê khí tượng</a>
                                    </li>
                                    <div class="arrow"></div>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-link" style="--i: 1.35s">
                            <a href="#">Giới thiệu</a>
                        </li>
                    </ul>
                </div>

                <div class="log-sign" style="--i: 1.8s">
                    <a href="#" class="btn transparent">Đăng nhập</a>
                    <a href="#" class="btn solid">Đăng ký</a>
                </div>
            </div>


        </div>
    </header>
</template>